extends ../layout/layout
block content
    if(empty)
        h4 You Have No Questions
    else    
        each val in data
            //- -var mylink = val.id
            a(href="questions/"+val.id) #{val.body}
            if(val.allowName)
                p Asked by #{val.userAsking}
            hr
    
    