// Variables
red1 = #FF643C
white1 = #ECF0F1
dark1 = #2C3E50
dark2 = #272d33
green1 = #4ba69a
grey1 = #616161

// Reused Classes
.no-margin
    margin: 0
.no-padding
    padding: 0
.font-bold
    font-weight: bold
.text-big
    font-size: 25px
.text-med
    font-size: 23px
.collection-item
    min-height: 100px
p.collection-item 
    display flex
    justify-content: center
    align-items: center
.min90
    min-height: 90vh
.rounded
    border-radius: 50px 10px

.mb-5
    margin-bottom: 50px
.mb-1
    margin-bottom: 10px
.p-1
    padding: 5px 20px 25px !important

// Colours Classes
.green-ask
    color: green1
.red-ask.bg
    background-color: red1 !important
    color: white1 !important
.red-ask
    color: red1 !important
.gry-text
    color: grey1

// Main Tags
body
    color: white1
    background-color: #2b3237
nav
    background-color: dark2 // last color
    color: #D9CB9E 
footer 
    color: #374140 // 3rd color

form
    padding-top: 5px
    padding-bottom: 75px
    button
        margin-bottom: 25px

// Classes and IDS
#ask-1
    background-color: white1
    color: dark1
    min-height: 75vh
    padding: 50px 0
#ask-2
    background-color: dark2
    color: dark1
    min-height: 75vh
    padding: 50px 0
#ask-3
    background-color: red1
    color: white1
    min-height: 30vh
    padding: 50px 0
    display: flex
    justify-content: center
    align-items: center
    h1 
        margin-bottom: 30px
    a
        font-size: 17px
        font-weight: bold
.wrapper
    margin-top: 2px
    background-color: white1
    color: dark2

.wrapper-about
    margin-top: 2px
    background-color: dark2
    color: white1

.input-field input
    color: #4ba69a

.nav-i
    transition: 0.6s all ease-in
    &:hover, &:focus 
        color: red1 !important

.prof-i
    transition: 0.6s all ease-in
    &:hover, &:focus 
        color: green1 !important
.prof-i-bg
    &:hover, &:focus 
        color: #fff !important
        background-color: green1 !important
.prof-img
    transition: 0.7s all ease-out
    &:hover
        transform: translateX(-15px) 